<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous" />

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />

  <!-- <link rel="stylesheet" href="main.js" /> -->

</head>

<style>
  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  body {
    font-family: sans-serif;
    -webkit-font-smoothing: antialiased;
    background: #f3f3f3 !important;
  }

  .frame {
    margin: 30px;
    height: 600px;
  }

  ul {
    list-style: none;
  }

  h1,
  h2,
  h3,
  h4,
  p {
    color: #000000;
  }

  nav {
    background-color: #000;
    padding: 0;
  }

  nav .container {
    margin-top: 0;
    margin-bottom: 0;
  }

  nav .container .navbar-brand {
    font-weight: 600;
    font-size: 2rem;
    color: #ffffff;
  }

  .nav-link {
    font-weight: 400;
    color: #ffffff;
    font-size: 1rem;
    margin-left: 1rem;
  }

  .nav-link:hover {
    color: #f3f3f3 !important;
  }

  footer {
    background-color: #000000 !important;
    padding-top: auto;
  }

  @media (max-width: 1000px) {
    .product-show {
      grid-template-columns: 2fr 2fr;
    }
  }

  @media (max-width: 500px) {
    .product-show {
      grid-template-columns: 1fr;
    }
  }
</style>

<body>

  <div class="container mt-3 mb-3">

    <% if (histories.length> 0) {%>
      <div>
        <% histories.forEach(function(history) { %>

          <div class="card mb-3">
            <div class=" row no-gutters">
              <div class="col-md-8">
                <div class="card-body">
                  <h5 class="card-title text-center">
                    <%= history.motor %>
                  </h5>
                  <p class="card-text ">Tanggal Transaksi : <%= history.tanggalPesan %>
                  </p>
                  <p class="card-text">Tanggal Rental : <%= history.mulai %> %> </p>
                  <p>sampai : <%= history.berakhir %>
                  </p>
                  </p>
                  <p class="card-text">Atas nama : <%= history.namaPemesan %> ( <%= history.emailPemesan %> /
                        <%= history.noPemesan %> ) </p>
                  <p class="card-text">Harga : <%= history.harga %>
                  </p>
                </div>
              </div>
            </div>
          </div>
          <% });%>
      </div>

      <%} else { %>

        <h2>Belum ada transaksi</h2>

        <% } %>

  </div>


</body>

</html>